<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 用于登入 -->
<mapper namespace="cn.appsys.dao.dictionary.DataDictionaryMapper">

	<!-- 查询状态 -->
	<select id="appState" resultType="DataDictionary">
		SELECT * FROM
		data_dictionary
		where typeCode = 'APP_STATUS'
	</select>

	<!-- 查询所属 -->
	<select id="appWhat" resultType="DataDictionary">
		SELECT * FROM data_dictionary
		where typeCode = 'APP_FLATFORM'
	</select>

	<!-- 查询的第一级目录 -->
	<select id="appCate1" resultType="AppCategory">
		SELECT * FROM app_category
		WHERE parentId is null
	</select>

	<!-- 查询二三级目录 -->
	<select id="appCate23" resultType="AppCategory">
		SELECT * FROM app_category
		<where>
			<choose>
				<when test="pid!=null and pid!=''">parentId = #{pid}</when>
				<otherwise>parentId is null</otherwise>
			</choose>
		</where>
	</select>
	<!-- 映射文件 -->
	<resultMap type="appInfo" id="appInfoList">
		<id property="id" column="a.id" />
		<result property="categoryLevel3Name" column="categoryName3" />
		<result property="categoryLevel2Name" column="categoryName2" />
		<result property="categoryLevel1Name" column="categoryName1" />
		<result property="versionNo" column="versionNo" />
		<result property="statusName" column="valueName1" />
		<result property="flatformName" column="valueName" />
	</resultMap>

	<!-- 查询信息 -->
	<select id="selectId1" resultMap="appInfoList">
		select a.id ,a.*,
		a.softwareName ,
		a.APKName ,
		a.softwareSize,
		(select
		valueName from
		data_dictionary where typeCode='APP_FLATFORM' and
		valueId=a.flatformId) as valueName,
		(select categoryName from
		app_category where
		id=a.categoryLevel1) as categoryName1,
		(select
		categoryName from app_category
		where
		id=a.categoryLevel2) as
		categoryName2,
		(select categoryName from
		app_category
		where
		id=a.categoryLevel3) as categoryName3,
		(select valueName from
		data_dictionary where
		typeCode='APP_STATUS' and
		valueId=a.`status`) as
		valueName1,
		a.downloads ,
		(select
		versionNo from app_version where
		appId=a.id ORDER BY
		modifyDate DESC
		LIMIT 0,1) as versionNo
		from app_info
		a where a.id=#{id}
	</select>
	<!-- 分页并且模糊查询信息 -->
	<select id="selectAll" resultMap="appInfoList">
		select a.id ,a.*,
		a.softwareName ,
		a.APKName ,
		a.softwareSize,
		(select
		valueName from
		data_dictionary where typeCode='APP_FLATFORM' and
		valueId=a.flatformId) as valueName,
		(select categoryName from
		app_category where
		id=a.categoryLevel1) as categoryName1,
		(select
		categoryName from app_category
		where
		id=a.categoryLevel2) as
		categoryName2,
		(select categoryName from
		app_category
		where
		id=a.categoryLevel3) as categoryName3,
		(select valueName from
		data_dictionary where
		typeCode='APP_STATUS' and
		valueId=a.`status`) as
		valueName1,
		a.downloads ,
		(select
		versionNo from app_version where
		appId=a.id ORDER BY
		modifyDate DESC
		LIMIT 0,1) as versionNo
		from app_info
		a
		<where>
			<if test="softwareName !=null and softwareName!=''">and a.softwareName like CONCAT('%',#{softwareName},'%')
			</if>
			<if test="status !=null and status!=''">and a.status=#{status}</if>
			<if test="flatformId !=null and flatformId!=''">and a.flatformId=#{flatformId}</if>
			<if test="categoryLevel1 !=null and categoryLevel1!=''">and a.categoryLevel1=#{categoryLevel1}</if>
			<if test="categoryLevel2 !=null and categoryLevel2!=''">and a.categoryLevel2=#{categoryLevel2}</if>
			<if test="categoryLevel3 !=null and categoryLevel3!=''">and a.categoryLevel3=#{categoryLevel3}</if>
		</where>
		<if test="index>=0">LIMIT #{index},#{currentPageNo}</if>
	</select>

	<!-- 按id查询信息 -->
	<select id="selectId" resultMap="appInfoList">
		select a.*,
		(select
		valueName from
		data_dictionary where
		typeCode='APP_FLATFORM' and
		valueId=a.flatformId) as valueName,
		(select
		categoryName from
		app_category where
		id=a.categoryLevel1) as
		categoryName1,
		(select
		categoryName from app_category
		where
		id=a.categoryLevel2) as
		categoryName2,
		(select categoryName from
		app_category
		where
		id=a.categoryLevel3) as categoryName3,
		(select
		valueName from
		data_dictionary where
		typeCode='APP_STATUS' and
		valueId=a.`status`) as
		valueName1,
		(select
		versionNo from app_version
		where
		appId=a.id ORDER BY
		modifyDate DESC
		LIMIT 0,1) as versionNo
		from
		app_info
		a
		<where>
			<if test="id!=null and id!=''">id=#{id}</if>
		</where>
	</select>
	<!-- 查询总数量 -->
	<select id="select" resultType="int">
		select count(*) from app_info a
		<where>
			<if test="softwareName !=null and softwareName!=''">and a.softwareName like CONCAT('%',#{softwareName},'%')
			</if>
			<if test="status !=null and status!=''">and a.status=#{status}</if>
			<if test="flatformId !=null and flatformId!=''">and a.flatform Id=#{flatformId}</if>
			<if test="categoryLevel1 !=null and categoryLevel1!=''">and a.categoryLevel1=#{categoryLevel1}</if>
			<if test="categoryLevel2 !=null and categoryLevel2!=''">and a.categoryLevel2=#{categoryLevel2}</if>
			<if test="categoryLevel3 !=null and categoryLevel3!=''">and a.categoryLevel3=#{categoryLevel3}</if>
		</where>
	</select>

	<!-- 修改 -->
	<update id="updateAll" parameterType="appInfo">
		update app_info set
		softwareName=#{softwareName},APKName=#{APKName},supportROM=#{supportROM},interfaceLanguage=#{interfaceLanguage},softwareSize=#{softwareSize},updateDate=#{updateDate},downloads=#{downloads},flatformId=#{flatformId},categoryLevel1=#{categoryLevel1},categoryLevel2=#{categoryLevel2},categoryLevel3=#{categoryLevel3},appInfo=#{appInfo}
		where id=#{id}
	</update>
	<resultMap type="appVersion" id="appVersions">
		<id property="id" column="id" />
		<result property="appName" column="appName" />
	</resultMap>
	<!-- 查询历史版本 -->
	<select id="selectIds" resultMap="appVersions">
		select a.*,a.id as id ,
		(select softwareName from app_info where
		a.appId=id) as appName from
		app_version as a where a.appId=#{id}
	</select>
</mapper>